* {
    box-sizing: border-box;

}

ul {
    margin-left: .4rem;
    margin-right: .4rem;
    list-style: none;

    li {
        margin-top: 1rem;
        margin-bottom: -.5rem;
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 17px;
        text-decoration: underline;
    }

    p {
        font-size: 12px;
        width: 70%;
    }

    .priceP {
        color: white;
        margin-left: 1rem;

    }

    .starter {
        color: rgb(0, 157, 255);
    }

    .pasta {
        color: orange;
    }

    .content-and-price-container {
        display: flex;
        flex-direction: row;
    }

    .cocktail {
        color: pink;
    }

    .wine {
        color: maroon;
    }
}